<div class="form-froup row">
    <div class="col-sm-10">
        <label class="col-sm2 col-form-label">Veiculo</label>
        <input type="text" class="form-control" [(ngModel)]="veiculo" placeholder="Este é o modelo do veículo">
        <label class="col-sm2 col-form-label">Valor da Venda</label>
        <input type="text" class="form-control" [(ngModel)]="valor" placeholder="Defina o valor de venda do veículo">
    </div>
</div>
<button (click)="addVenda(vend)" class="btn btn-primary"> Vender Veiculo</button>
